<ion-content class="ion-text-center">
  <ion-text color="dark" class="ion-hide-md-down">
    <h1>Choose your products</h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <!--        Add new product admin button-->
      <ng-container *ngIf="isAdminLoggedIn">
        <ion-col size="12" size-sm="6" size-md="4">
          <ion-card>
            <div
              tappable
              class="product-image"
              [style.background-image]="'url('+ adminAddProductImage +')'"
            ></div>

            <ion-card-content>
              <ion-label color="dark">
                <b>Add new product</b>
                <p>               </p>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>

      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let p of products">
<!--        Product card-->
        <ion-card>
<!--          Card image-->
          <div
            tappable
            [routerLink]="['/products', p.id]"
            class="product-image"
            [style.background-image]="'url('+p.img+')'"
          ></div>

<!--          Product card description-->
          <ion-card-content tappable [routerLink]="['/products', p.id]">
            <ion-label color="dark">
              <b>{{ p.title}}</b>
              <p>{{ p.price }}</p>
            </ion-label>
          </ion-card-content>

<!--          Add product to cart button-->
          <ion-button
            class="ion-no-margin"
            expand="full"
            color="primary"
            (click)="addProduct(p)"
          >
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-hide-md-up"
  >
    <ion-fab-button (click)="openFilter()">
      <ion-icon name="filter"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
