.active-item {
  color: var(--ion-color-primary);
  font-weight: 500;

  ion-icon {
    color: var(--ion-color-primary);
  }
}


ion-accordion ion-list[slot="content"] {
  ion-item {
    --padding-start: 72px;
  }
}

@media (min-width: 768px) {
  ion-router-outlet {
    margin-top: 54px;
    height: calc(100vh - 54px - 50px);
  }
}
@media (max-width: 768px) {
  ion-router-outlet {
    margin-top: calc(var(--ion-safe-area-top) + var(--header-height));
  }
}

