ion-footer ion-toolbar:last-of-type {
  padding-bottom: var(--ion-safe-area-bottom, 0);
}

ion-footer ion-toolbar {
  padding-bottom: 0;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order {
  background: #fff;
  margin-top: 20px;
  border-top: 1px solid #00000012;
  border-bottom: 1px solid #00000012;
}


