<ion-content>
  <ion-text color="dark">
    <h2>Ionics Pizza Shop</h2>
  </ion-text>
  <ion-text color="medium">
    We belief in great resources and produce the best pizza in your area.
    <br />
    <br />
    We've been selling pizza since 2014 and know what we are doing.<br />
    <b>Come join the pizza revolution</b>
  </ion-text>

  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
      <img src="./assets/company/imgs/brand.jpg" class="ion-margin-top" />
    </ion-col>
  </ion-row>

</ion-content>
