<ion-content>
  <div class="hero"></div>

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="4"
        offset-xl="3"
        size-xl="2"
        class="ion-text-center"
      >
        <ion-icon name="location" color="primary"></ion-icon>
        <ion-text color="dark">1. Select your location</ion-text>
        <ion-text color="medium">
          Enter your address or let us select your position.
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="fast-food" color="primary"></ion-icon>
        <ion-text color="dark">2. Select food</ion-text>
        <ion-text color="medium">
          What would you like today? Select from our rich menu.
        </ion-text>
      </ion-col>

      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="card" color="primary"></ion-icon>
        <ion-text color="dark">3. Pay & Delivery</ion-text>
        <ion-text color="medium">
          Pay online and get your order delivered contactless.
        </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
