
<ion-content>
  <div *ngIf="isProductInformationLoaded">
    <ion-grid fixed>
      <!--    Breadcrumbs-->
      <ion-breadcrumbs>
        <ion-breadcrumb routerLink="/products" routerDirection="back">
          Products
          <span slot="separator">
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
        </ion-breadcrumb>

        <ion-breadcrumb
          routerLink="/products"
          routerDirection="back"
        >
          {{ product.category }}
          <span slot="separator">
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
        </ion-breadcrumb>

        <ion-breadcrumb>
          <ng-container *ngIf="!isEditModeOn else titleEdit">
            {{ product.title }}
          </ng-container>
          <ng-template #titleEdit>
            <app-edit-structure
              (updatedData)="tryUpdate('title', $event, product.title)"
              [inputType]="'text'"
              [content]="product.title"></app-edit-structure>
          </ng-template>
        </ion-breadcrumb>

      </ion-breadcrumbs>

      <ion-row>
        <!--      Product image-->
        <ion-col size="12" size-lg="7">
          <ion-row>
            <img [src]="product.imageUrl" />
          </ion-row>
        </ion-col>

        <!--      Product details-->
        <ion-col size="12" size-lg="5">
          <ion-card class="add-card ion-text-center">
            <!--          Price header-->
            <ion-card-header>
              <ion-card-title *ngIf="!isEditModeOn else priceEdit"
              >{{ product.price }}</ion-card-title>
              <ng-template #priceEdit>
                <app-edit-structure
                  (updatedData)="tryUpdate('price', $event, product.price)"
                  [inputType]="'number'"
                  [content]="product.price"></app-edit-structure>
              </ng-template>
            </ion-card-header>

            <!--          Content-->
            <ion-card-content>
              <ion-text *ngIf="!isEditModeOn; else descriptionEdit" color="medium">{{ product.description }}</ion-text>
              <ng-template #descriptionEdit>
                <app-edit-structure
                  (updatedData)="tryUpdate('description', $event, product.description)"
                  [inputType]="'text'"
                  [content]="product.description"></app-edit-structure>
              </ng-template>

              <ng-container *ngIf="!isEditModeOn else saveEdit">
                <ion-button expand="full" (click)="addToCart()">
                  Add to cart
                  <ion-icon slot="end" name="add"></ion-icon>
                </ion-button>

                <!--            Admin buttons-->
                <ng-container *ngIf="isAdminLoggedIn">
                  <ion-button expand="full" (click)="edit()">
                    Edit
                    <ion-icon slot="end" name="open"></ion-icon>
                  </ion-button>
                  <ion-button color="danger" expand="full" (click)="delete()">
                    Delete
                    <ion-icon slot="end" name="nuclear"></ion-icon>
                  </ion-button>
                </ng-container>
              </ng-container>
              <ng-template #saveEdit>
                <ion-button expand="full" (click)="save()">
                  Save edit
                  <ion-icon name="save-outline"></ion-icon>
                </ion-button>
              </ng-template>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>


