
<ion-content>
  <div *ngIf="isProductInformationLoaded">
    <ion-grid fixed>
      <!--    Breadcrumbs-->
      <ion-breadcrumbs>
        <ion-breadcrumb routerLink="/products" routerDirection="back">
          Products
          <span slot="separator">
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
        </ion-breadcrumb>

        <ion-breadcrumb
          routerLink="/products"
          routerDirection="back"
        >
          {{ product.category }}
          <span slot="separator">
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
        </ion-breadcrumb>

        <ion-breadcrumb>
          {{ product.title }}
        </ion-breadcrumb>

      </ion-breadcrumbs>

      <ion-row>
        <!--      Product image-->
        <ion-col size="12" size-lg="7">
          <ion-row>
            <img [src]="product.imageUrl" />
          </ion-row>
        </ion-col>

        <!--      Product details-->
        <ion-col size="12" size-lg="5">
          <ion-card class="add-card ion-text-center">
            <!--          Price header-->
            <ion-card-header>
              <ion-card-title
              >{{ product.price }}</ion-card-title
              >
            </ion-card-header>

            <!--          Content-->
            <ion-card-content>
              <ion-text color="medium">{{ product.description }}</ion-text>

              <ion-button expand="full" (click)="addToCart()">
                Add to cart
                <ion-icon slot="end" name="add"></ion-icon>
              </ion-button>

              <!--            Admin buttons-->
              <ng-container *ngIf="!isAdminLoggedIn">
                <ion-button expand="full" (click)="edit()">
                  Edit
                  <ion-icon slot="end" name="open"></ion-icon>
                </ion-button>
                <ion-button color="danger" expand="full" (click)="delete()">
                  Delete
                  <ion-icon slot="end" name="nuclear"></ion-icon>
                </ion-button>
              </ng-container>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>


