<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6" class="ion-text-center">
        <img #userImage [src]="imageSource">
    </ion-col>
    <ion-col size="3">
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button
          color="primary"
          size="small"
          (click)="selectImageSource()"
        >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <input
          type="file"
          #fileInput
          (change)="uploadFile($event)"
          hidden="true"
          accept="image/*"
        />
      </ion-fab>
    </ion-col>
  </ion-row>

  <ion-item lines="none">
    <ion-icon slot="start" name="text-outline"></ion-icon>
    <ion-input
      [(ngModel)]="title"
      placeholder="Title"
    ></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
    <ion-input
      [(ngModel)]="category"
      placeholder="Category"
    ></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" name="document-text-outline"></ion-icon>
    <ion-textarea
      [(ngModel)]="description"
      placeholder="Description"
    ></ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" name="pricetag-outline"></ion-icon>
    <ion-input
      [(ngModel)]="price"
      placeholder="Price"
    ></ion-input>
  </ion-item>


  <ion-button
    expand="block"
    color="primary"
    strong="true"
    (click)="save()"
    class="ion-margin-top"
  >
    Confirm
  </ion-button>
</ion-content>
